RewriteEngine on
RewriteCond %{HTTP_HOST} ^florian-fremin-portfolio.herokuapp.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.florian-fremin-portfolio.herokuapp.com$
RewriteCond %{REQUEST_URI} !^/?public/
RewriteRule (.*) /public/$1 [L]