<ul class="first-navigation">
    <li class="*">All Works</li>
    <li class=".features">Features</li>    
    <li class=".php">Php</li>
</ul>
<ul class="second-navigation">
    <li class=".javascript">Javascript</li>
    <li class=".Ruby">&nbsp;</li>
    <li class="">&nbsp;</li>
</ul>