<ul class="first-navigation">
    <li class="*">All Works</li>
    <li class=".ruby">Ruby</li>
    <li class=".php">Php</li>
</ul>
<ul class="second-navigation">
    <li class=".javascript">Javascript</li>
    <li>&nbsp</li>
    <li>&nbsp;</li>
</ul>