{% if record.contenttype.slug|default() not in ['showcases', 'entries'] %} {% setcontent homepage = "homepage" limit 1 returnsingle
%}
<div class="top-menu">
    <div class="logo">
        <a href="/">
            <h1>
                <img src="{{ asset('img/logo_fremin.png', 'theme') }}" alt="logo Fremin Florian">
            </h1>
        </a>
    </div>
        {% if app.request.get('_route') == "homepage" %}
        {{ menu('first_menu', '/partials/_first_menu_portfolio.twig') }}
        {% endif %}
        {% if app.request.get('_route') == "contentlink" %}
        {{ menu('first_menu', '/partials/_first_menu_portfolio-page.twig') }}
        {% endif %}
    </div>
</div>
{% endif %}