{# Navbar #}
<div class="nav-left">
    <ul>
        <li id="social-twitter">
            <a class="greensock-light replace" href="https://twitter.com/florian_frm" id="btn-twitter" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
        <li id="social-dribble">
            <a class="greensock-light replace" href="https://codepen.io/flo-dev33/" id="btn-instagram" target="_blank">
                <i class="fab fa-codepen"></i>
            </a>
        </li>
        <li id="social-instagram">
            <a class="greensock-light replace" href="https://github.com/fremin33" id="btn-instagram" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </li>
        <li id="social-linkedin">
            <a class="greensock-light replace" href="https://www.linkedin.com/in/freminflorian" id="btn-linkedin" target="_blank">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>
        <li id="social-email">
            <a target="_blank" class="greensock-light replace" href="mailto:florian.dev33@gmail.com" id="btn-email">
                <i class="fas fa-at"></i>
            </a>
        </li>
    </ul>
</div>