/* General*/

@font-face {
    font-family: alternate-gothic;
    src: url(../font/Alternate_regular.ttf);
}

html {
    background: #F6F9FB;
    
}

body {
    font-family: "alternate-gothic", sans-serif;
    font-size: 16px;
    line-height: 1.3;
    font-weight: normal;
    color: #414042;
    background: #F6F9FB;
    filter: brightness(1.1);
    min-height: 100vh;
}

p {
    font-size: 23px;
    color: black;
}

h2 {
    font-family: alternate-gothic;
}

.nav-left {
    width: 80px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    font-size: 17px;
}

ul {
    font-size: 20px;
}

li {
    margin: 0 0 2px 2px;
}

.first-navigation a,
.second-navigation a {
    letter-spacing: 0.5px;
    text-decoration: none;
    outline: none;
}

ul.first-navigation,
ul.second-navigation {
    text-transform: uppercase;
}
ul.first-navigation li, ul.second-navigation li {
    cursor: pointer;
}
ul.first-navigation li a, ul.second-navigation li a {
    cursor: pointer;
    color: #414042;
}
img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

header {
    padding-top: 50px;
    height: 220px;
}

a {
    color: rgb(188, 190, 192);
}

.top-menu {
    display: flex;
    align-items: flex-end;
    padding-left: 80px;
}

.top-menu * {
    width: 186px;
}

.top-menu .navigations {
    display: flex;
}

header .nav-left ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 220px;
}

header .nav-left ul li {
    padding: 10px;
}

i {
    font-size: 25px;
}

.logo {
    margin-right: 60px;
}

/* Test*/

.grid-container {
    padding-left: 100px;
}

.card-project {
    width: 156px;
    height: 227px;
    margin: 0 30px 30px 0;
    overflow: hidden;
    border-radius: 7px;
}

.card-project {
    width: 156px;
    height: 227px;
    margin: 0 30px 30px 0;
    overflow: hidden;
    border-radius: 7px;
}

.card-project .titles {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.1s all;
}

.bg-overlay-even {
    background: transparent url(../img/overlay.svg) no-repeat 50% 50%/110px auto;
}

.bg-overlay-odd {
    background: transparent url(../img/overlay-02.svg) no-repeat 50% 50%/110px auto;
}

.card-project .titles:hover {
    transform: scale(1.2);
}

.card-project .titles h2 {
    display: block;
    font-size: 17px;
    color: #414042;
    text-transform: uppercase;
    line-height: 25px;
    font-weight: bold;
    font-family: "alternate-gothic", sans-serif;
}

.card-project .titles h3 {
    padding-top: 0px;
    display: block;
    font-size: 17px;
    color: #b1b3b6;
    text-transform: uppercase;
    line-height: 19px;
    font-weight: bold;
    font-family: "alternate-gothic", sans-serif;
}

/*  Record */

.container-page {
    padding-left: 100px;
}

.container-page img.home-img {
    max-height: 600px;
    width: auto;
    border-radius: 7px;
}

.wrap {
    max-width: 1280px;
}

.presentation {
    text-transform: inherit;
}

.content-page {
    margin: 35px 0;
    display: flex;
}

.items {
    width: 600px;
    font-size: 18px;
    padding: 0 15px 0 15px;
}

h2.title-project a {
    font-size: 42px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

p.presentation-title {
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

p.img-content {
    margin: 50px 0;
}

p.img-content img {
    border-radius: 7px;
}

h3 {
    font-size: 50px;
    color: black;
    font-family: "alternate-gothic", sans-serif;
    line-height: 1;
    color: #414042;
    text-transform: uppercase;
    padding: 65px 0 0 0;
}

ul.taches li {
    margin: 0 0 -5px 2px;
    color: black;
}

ul.taches li:before {
    content: ".";
    padding-left: 10px;
    padding-right: 10px;
    font-size:120px;
    line-height: 0px;
}

.div-home-img {
    position: relative;
    cursor: pointer;
}

.hover-home {
    position: absolute;
    top: 0;
    left: 0;
    right: 4px;
    bottom: 6px;
    border-radius: 7px;
    transition: 0.5s all;
}

.hover-home:hover {
    background: rgba(0, 0, 0, 0.5);
}

p.link-hover-home {
    opacity: 0;
    position: absolute;
    left: 50%;
    bottom: 50px;
    font-size: 30px;
    text-transform: uppercase;
    transform: translateX(-50%);
    transition: 1s all;
}


.hover-home:hover p.link-hover-home{
    opacity: 1;
    color: white;
}

.hover-home:hover .line {
    width: 209px;
}

.line {
    position: absolute;
    transition: 0.5s all;
    bottom: 49px;
    background: white;
    left: 50%;
    transform: translateX(-50%);
    width: 0px;
    height: 1px;
}

@media screen and (max-width: 960px) {
    .nav-left {
        display: none;
    }
    .container-page {
        padding-left: 0px;
    }
    .content-page {
        flex-wrap: wrap;
        justify-content: center;
    }
    .content-page .items:first-child {
        padding-bottom: 60px;
    }
}