

{% extends 'partials/_master.twig' %} {% block main %}

<div class="container-page">
    <div class="wrap">
    </div>
</div>
<style>
</style>


{# Before and after #} {# {{ include('partials/_recordfooter.twig', { 'record': record, 'extended': true }) }} #} 
{% endblock main %}

